<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @journalist.name %>
</p>

<p>
  <strong>Fb:</strong>
  <%= @journalist.fb_id %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @journalist.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @journalist.email %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @journalist.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @journalist.longitude %>
</p>

<%= link_to 'Edit', edit_journalist_path(@journalist) %> |
<%= link_to 'Back', journalists_path %>
